<!DOCTYPE html>
<html>

<head>
    <meta name="description" content="Information about Beth Ashton and Robert Masen getting married!" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <base href="/" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link href="/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <header>
        <h1 id="banner">
            Masen + Ashton
        </h1>
        <nav>
            <a href="/pages/" class="nav-button" id="home-button">Home</a>
            <a href="/pages/details/index.html" class="nav-button" id="details-button">Event Details</a>
            <a href="/pages/mpls/index.html" class="nav-button" id="mpls-button">Minneapolis</a>
            <a target="_blank" rel="noopener noreferrer" href="/gifts" class="nav-button" id="gifts-button">Registry</a>
        </nav>
    </header>
    <main>
        {% block content %} {% endblock content %}
    </main>
    <script>
        window.addEventListener('DOMContentLoaded', function () {
            setSelected();
        });

        function setSelected() {
            let id = getSelectedId();
            let button = document.getElementById(id);
            if (!button) return console.error('Unable to find selected button');
            addClass('selected', button);
        }

        function getSelectedId() {
            switch (location.pathname) {
                case '/pages/details/index.html':
                case '/pages/details/index.html/':
                    return 'details-button';
                case '/pages/rsvp':
                case '/pages/rsvp/index.html':
                case '/pages/rsvp/index.html/':
                    return 'rsvp-button';
                case '/pages/':
                case '/pages/index.html':
                case '/pages/index.html/':
                    return 'home-button';
                case '/pages/mpls/index.html':
                case '/pages/mpls/index.html/':
                    return 'mpls-button';
                default:
                    throw new Error('Unable to determine selected ' + location.pathname);
            }
        }

        function addClass(name, el) {
            console.log('addClass', name, el);
            let current = el.getAttribute('class');
            let split = current.split(' ');
            if (split.indexOf(name) < 0) {
                split.push(name);
                let newValue = split.join(' ');
                el.setAttribute('class', newValue);
            }
        }
    </script>
</body>

</html>